.converter {
	margin-left: 37%;
	margin-top: 10%;
	display: column;
	padding-top: 30px;
	padding-bottom: 30px;
	max-width: 350px;
	border-radius: 20px;
	background-color: white;
	padding-left: 5%;
	position: static;
	width: 400px;
}
