.converter {
	margin-left: 37%;
	margin-top: 10%;
	display: column;
	padding-top: 30px;
	padding-bottom: 30px;
	max-width: 350px;
	border-radius: 20px;
	background-color: white;
	padding-left: 5%;
	position: static;
	width: 400px;
}

button {
	position: static;
	background-color: white;
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-size: large;
	margin-top: 30px;
	margin-left: 41.2%;
	border-radius: 5px;
	border-width: 2px;
	border-color: gray;
	border-style: solid;
}